#wrapper {
	position: absolute;
	
	height: 100%;
	width: 100%;

	background-image: url("https://ok7static.oktacdn.com/fs/bco/7/fs03mkjsrlj1v1jbO357") ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;		
}